@charset "UTF-8";
/*ACCUEIL*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"); /*Importation de la font*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box; /*Pour dire de mettre les bordures a l'interieur de l'element. Ca permet que la marge soit a l'interieur des dimensions de l'element. Valable aussi pour les pseudos elements.*/
}

body {
  margin: 0px; /*Pour que la bordure top soit collee au top de la page*/
  font-family: "Roboto", sans-serif; /*La font pour tout le site*/
}

a {
  text-decoration: none; /*Pour enlever la mise en page par defaut*/
  color: inherit; /*Pour avoir tous les textes en noir*/
}

h3,
h4,
p {
  margin: 0;
}

header {
  font-family: "Shrikhand", cursive;
  font-size: 17px;
  text-align: center;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  padding: 0.1rem;
  position: relative; /*On ne voyait plus la box shadow du au fait que tous les elements ont une position static par defaut, avec la position relative, l'element passe "au dessus" de tous les autres.*/
}
header h1 {
  margin: 10px;
}

.city {
  color: #3e3e3e;
  display: flex; /*display flex permet de modifier la taille comme on veut sans avoir des problemes d'empilements d'elements sans aucune incidence sur la boite*/
  align-items: center; /*align items center permet a ce que tous les elements soient a la meme hauteur*/
  justify-content: center; /*Les éléments sont regroupés au centre du conteneur selon l'axe principal.*/
  gap: 1rem;
  background-color: #eaeaea;
  text-align: center; /*Pour centrer le texte*/
  padding: 1.2rem;
  font-size: 0.5cm;
  font-weight: 600;
}
.city input {
  border: 3px solid white;
  overflow: auto; /*overflow sert a faire en sorte que l'input ne soit pas couper par sa boite*/
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
  padding: 8px;
  box-sizing: border-box;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569);
}

.city input::placeholder {
  font-size: 0.45cm;
  color: #3e3e3e;
  font-weight: bold;
}

.city input:focus {
  border-color: #3e3e3e;
  box-shadow: 0 0 8px 0 #3e3e3e;
}

/*EXPLORER*/
.explorer {
  text-align: center; /*Pour centrer le texte*/
  background-color: #f6f6f6;
  padding-top: 2.2rem;
  padding-bottom: 3.5rem;
}
.explorer h2 {
  margin: 0;
  font-size: 1.7rem; /*Taille de la font*/
}
.explorer p {
  font-size: 1.2rem;
}
.explorer button {
  color: white; /*Pour que le texte soit blanc*/
  font-weight: 200; /*Pour que le texte soit en gras*/
  font-size: 1.1rem;
  padding: 1rem 1.4rem;
  border: none;
  border-radius: 2rem; /*Bords arrondis*/
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569); /*Ombres*/
  background-image: linear-gradient(#ff79da, #9356dc); /*Les gradient permettent de passer d'une couleur a une autre*/
  transition: all 200ms; /*Durer de la transition pour le zoom de l'element sur le hover*/
  margin-top: 1rem;
  cursor: pointer;
}
.explorer button:hover { /*Curseur sur element*/
  transform: scale(1.02); /*La transition sur le hover*/
  opacity: 0.9; /*Pour diminuer l'opacite*/
}

.loader {
  position: fixed; /*Pour maintenir l'élément meme si on scroll*/
  display: grid;
  place-items: center; /*Pour placer le loading spinner au centre*/
  background-color: #ffffff;
  height: 100vh; /*Pour que ça prenne tout l'écran peut importe sa taille*/
  inset: 0; /*Position sur la page*/
  z-index: 2; /*Pour que l'élément soit "au dessus" sur l'axe z (3d)*/
  opacity: 0.9;
  animation: disappear 200ms; /*On appelle l'animation*/
  animation-delay: 2s; /*Délais de l'animation*/
  animation-fill-mode: forwards; /*Pour dire à l'élément soit de se mettre en place avant l'animation, soit de garder sa place une fois l'animation terminée. forward permet à l'animation de se "terminé"*/
  transform-origin: top; /*Pour que l'animation disparaisse par le haut*/
}
.loader::after {
  content: "";
  height: 80px;
  width: 80px;
  border: 5px solid transparent;
  border-top: 5px solid #9356dc;
  border-radius: 50%;
  animation: spinner 1s ease-in-out; /*Pour qu'il tourne 1s avec une vitesse constante*/
  animation-iteration-count: 2;
}

/*On veut que notre loader disparaisse au bout de x secondes, on va faire ça avec une animation*/
@keyframes disappear {
  0% {
    transform: scale(1); /*Il commence par 1 car il apparait en premier et il finit à 0 pour la disparition*/
  }
  100% {
    transform: scale(0);
  }
}
/*On aurait pu utiliser un spinner tout fait sur fontawesome mais on va essayer de le faire nous memes*/
@keyframes spinner {
  0% {
    transform: rotate(0deg); /*Il commence sa rotation à 0 pour faire un tour complet à 360 degré à la fin de l'animation*/
  }
  100% {
    transform: rotate(360deg);
  }
}
.fonctionnement {
  padding: 0 1rem;
  padding-top: 1.8rem;
  padding-bottom: 3.5rem;
  counter-reset: steps;
  background-color: white;
}
@media (max-width: 280px) {
  .fonctionnement {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.fonctionnement h2 {
  font-size: 1.7rem;
}
@media (max-width: 280px) {
  .fonctionnement h2 {
    padding-left: 0.9rem;
  }
}
.fonctionnement ol {
  font-weight: bold;
  display: flex;
  gap: 2rem;
  padding-left: 22px;
}
@media (max-width: 992px) {
  .fonctionnement ol {
    flex-direction: column; /*permet de spécifier le type d'ordonnancement en colonne*/
  }
}
@media (max-width: 280px) {
  .fonctionnement ol {
    padding-left: 12px;
  }
}
.fonctionnement li {
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 200ms; /*Durer de la transition pour le zoom de l'element sur le hover*/
  list-style-type: none; /*Ca va nous servir a enlever nos numeros predefinis par le type de liste li pour qu'on puisse modifier les notres comme on veut*/
  background-color: #f6f6f6;
  padding: 1.7rem 2.5rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569);
  margin-right: 0.7rem;
}
.fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps; /*Pour pouvoir augmenter la valeur du compteur steps*/
  color: white;
  background-color: #9356dc;
  width: 2rem; /*largeur*/
  height: 2rem; /*hauteur*/
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 22px;
  left: -1rem;
}
.fonctionnement li:hover {
  transform: scale(1.02); /*La transition sur le hover*/
  background: rgba(147, 86, 220, 0.1); /*Grace au background rgba je peux modifier l'opacite de la couleur*/
}
.fonctionnement li:hover i {
  color: #9356dc;
}
.fonctionnement li i {
  color: #8f8f8f;
  margin-right: 1rem;
  font-size: 1.4rem;
}
@media (max-width: 360px) {
  .fonctionnement li { /*Résolution du problème de repsonsive, galaxy fold a une largeur très petite il a donc fallu supprimer un maximum d'espace afin de respecter la maquette*/
    margin-right: 0;
    padding-right: 0;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding: 0 1rem;
  padding-top: 1.8rem;
  padding-bottom: 2rem;
}
.restaurants h2 {
  font-size: 1.7rem;
}
.restaurants .restaurants__cards {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  gap: 2rem;
}
@media (max-width: 800px) {
  .restaurants .restaurants__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.restaurants .restaurants__cards .nouveau { /*On veut que le nouveau soit juste une class qu'on rajoute aux elements qui sont nouveaux et des que je leur met une class nouveau ca leur fait apparaitre le badge*/
  position: relative;
}
.restaurants .restaurants__cards .nouveau::before {
  content: "Nouveau"; /*Quand on utilise un pseudo element il faut toujours un content meme vide*/
  position: absolute; /*Quand on met une position absolute il faut que le parent soit en position relative. Sinon il va aller rechercher le premier element en position relative et ca va pas faire ce qu'on veut*/
  height: 2rem;
  width: 5rem;
  background-color: #9ee2d0;
  color: #1e6351; /*La propriete darken permet d'assombrir une couleur. le second parametre correspond au niveau d'assombrissement*/
  display: grid; /*text-align: center; ne centrait pas verticalement*/
  place-items: center;
  right: 1rem;
  top: 1rem; /*Pour placer l'element a 1rem du top et 1rem de la droite*/
}
.restaurants .card__image {
  height: 12rem;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
  background-position: center; /*Pour que les images soient toujours positionner au centre*/
}
.restaurants .card__image-1 {
  background-image: url("../images/restaurants/menu-1.jpg");
}
.restaurants .card__image-2 {
  background-image: url("../images/restaurants/menu-2.jpg");
}
.restaurants .card__image-3 {
  background-image: url("../images/restaurants/menu-3.jpg");
}
.restaurants .card__image-4 {
  background-image: url("../images/restaurants/menu-4.jpg");
}
.restaurants .card__description {
  height: 5rem;
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
.restaurants .card__description h3,
.restaurants .card__description p {
  padding-top: 0.7rem;
  padding-left: 1rem;
}
.restaurants .card__description i {
  font-size: 1.6rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%); /*permet de déplacer un élement verticalement sur le plan.*/
}
.restaurants .card__description .fa-solid {
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.restaurants .card__description .fa-solid:hover {
  opacity: 1;
  cursor: pointer;
  transform: translateY(-50%) scale(1.1);
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 500;
  font-size: 1.2rem;
  padding: 12px 0;
  margin: 0;
}
footer p {
  padding: 0.3rem;
}
footer i {
  margin-right: 5px;
}
footer .fa-utensils {
  margin-right: 7px;
  margin-left: 3px;
}

/*RESTAURANT-1*/
@keyframes check-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%); /*permet de déplacer un élement verticalement sur le plan.*/
    opacity: 0;
  }
  100% {
    transform: translateY(1%);
    opacity: 1;
  }
}
body {
  background-color: #f6f6f6;
}

#page-restaurant {
  /*FLECHE VERS INDEX*/
  /*IMAGE DE BANNIERE*/
  /*BOUTTON COMMANDER*/
}
#page-restaurant header::before {
  content: "\f177"; /*On a voulu importer directement depuis le CSS, dans un pseudo élément la flèche de font awesome*/
  display: flex;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 1rem;
  transform: translateY(-50%);
  top: 50%;
  font-size: 1.5rem;
  cursor: pointer;
}
#page-restaurant .banner img {
  display: block;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center;
}
#page-restaurant .restaurant-title {
  top: -3.5rem;
  background-color: #f6f6f6;
  position: relative;
  border-radius: 2.5rem 2.5rem 0 0;
}
#page-restaurant .restaurant-title h2 {
  font-family: "Shrikhand", "sans-serif";
  position: relative;
  padding: 2rem 1rem;
  margin-bottom: -2rem;
}
#page-restaurant .restaurant-title h2 i {
  font-size: 1.6rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
#page-restaurant .restaurant-title h2 .fa-solid {
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
#page-restaurant .restaurant-title h2 .fa-solid:hover {
  opacity: 1;
  cursor: pointer;
  transform: translateY(-50%) scale(1.1);
}
#page-restaurant .restaurant-main {
  background-color: #f6f6f6;
  padding: 0 1rem;
}
#page-restaurant .menus {
  background-color: #f6f6f6;
  display: grid;
  grid-template-rows: auto repeat(3, 1fr); /*mettre 4 pour le restau 2*/
  gap: 1rem;
  grid-auto-flow: column; /*Orientation colonne*/
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 1000px) {
  #page-restaurant .menus {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row; /*Orientation ligne*/
  }
}
#page-restaurant .menus h3 {
  text-transform: uppercase; /*Pour pouvoir affiché le texte en majuscule tout en gardat les accents*/
  font-weight: 400;
  position: relative;
  margin-top: 2.5rem;
}
#page-restaurant .menus h3::after { /*after et non before parce qu'il arrive après*/
  content: ""; /*Meme si vide le content est obligatoire quand on utilise un pseudo élément*/
  position: absolute; /*Toujours mettre uen position relative au parent*/
  top: 1.5rem;
  left: 0;
  height: 0.25rem;
  width: 3rem;
  background-color: #9ee2d0;
}
#page-restaurant .menus .menus__category {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden; /*On veut pas que le texte dépasse de son bloc avec dimensions réduites*/
  animation: appear 1.5s;
  animation-fill-mode: both; /*On ne veut pas qu'une fois finie, l'animation reprenne une position initiale*/
}
#page-restaurant .menus .menus__category:nth-child(2) {
  animation-delay: 200ms; /*On multiplie le délais par $i pour que chaque i prenne un délais de 100ms mais chacun leur tour*/
}
#page-restaurant .menus .menus__category:nth-child(3) {
  animation-delay: 300ms; /*On multiplie le délais par $i pour que chaque i prenne un délais de 100ms mais chacun leur tour*/
}
#page-restaurant .menus .menus__category:nth-child(4) {
  animation-delay: 400ms; /*On multiplie le délais par $i pour que chaque i prenne un délais de 100ms mais chacun leur tour*/
}
#page-restaurant .menus .menus__category:nth-child(5) {
  animation-delay: 500ms; /*On multiplie le délais par $i pour que chaque i prenne un délais de 100ms mais chacun leur tour*/
}
#page-restaurant .menus .menus__category:nth-child(6) {
  animation-delay: 600ms; /*On multiplie le délais par $i pour que chaque i prenne un délais de 100ms mais chacun leur tour*/
}
#page-restaurant .menus .menus__category:nth-child(7) {
  animation-delay: 700ms; /*On multiplie le délais par $i pour que chaque i prenne un délais de 100ms mais chacun leur tour*/
}
#page-restaurant .menus .menus__category:nth-child(8) {
  animation-delay: 800ms; /*On multiplie le délais par $i pour que chaque i prenne un délais de 100ms mais chacun leur tour*/
}
#page-restaurant .menus .menus__category:nth-child(9) {
  animation-delay: 900ms; /*On multiplie le délais par $i pour que chaque i prenne un délais de 100ms mais chacun leur tour*/
}
#page-restaurant .menus .menus__category:nth-child(10) {
  animation-delay: 1000ms; /*On multiplie le délais par $i pour que chaque i prenne un délais de 100ms mais chacun leur tour*/
}
#page-restaurant .menus .menus__category:nth-child(11) {
  animation-delay: 1100ms; /*On multiplie le délais par $i pour que chaque i prenne un délais de 100ms mais chacun leur tour*/
}
#page-restaurant .menus .menus__category:nth-child(12) {
  animation-delay: 1200ms; /*On multiplie le délais par $i pour que chaque i prenne un délais de 100ms mais chacun leur tour*/
}
#page-restaurant .menus .menus__category .menu-item {
  display: flex;
  border-radius: 1rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569);
}
#page-restaurant .menus .menus__category .menu-item .menu-item__price {
  margin-left: auto;
  margin-right: 1rem;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end; /*Pour que le bord de la marge des éléments flexibles sur l'axe en bloc soit aligné avec le bord de la ligne à la fin de l'axe en bloc.*/
}
#page-restaurant .menus .menus__category .menu-item .menu-item__description {
  padding: 1rem;
  overflow: hidden; /*On cherche à cacher notre élément check pour pouvoir le faire apparaitre plus tard en changeant sa marge*/
}
#page-restaurant .menus .menus__category .menu-item .menu-item__description h4,
#page-restaurant .menus .menus__category .menu-item .menu-item__description p {
  overflow: hidden; /*On cherche à cacher notre élément check pour pouvoir le faire apparaitre plus tard en changeant sa marge*/
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-restaurant .menus .menus__category .menu-item .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0; /*Pour que notre i garde les memes dimensions à dimensions de page réduites*/
  /*Je viens de créer une variable css en local ce qui implique qu'il n'y a aucun autre endroit ou je peux utiliser mon button width */
  background-color: #9ee2d0;
  margin-right: -5rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.5s;
}
#page-restaurant .menus .menus__category .menu-item i {
  display: grid;
  place-items: center;
  flex-shrink: 0; /*Pour que notre i garde les memes dimensions à dimensions de page réduites*/
  background: white;
  aspect-ratio: 1/1;
  width: 2rem;
  border-radius: 1rem;
  color: #9ee2d0;
}
#page-restaurant .menus .menus__category .menu-item:hover {
  cursor: pointer;
}
#page-restaurant .menus .menus__category .menu-item:hover .menu-item__check {
  margin-right: 0px;
}
#page-restaurant .menus .menus__category .menu-item:hover i {
  animation: check-spin 0.5s ease-in-out;
}
#page-restaurant #restaurant-2 {
  display: grid;
  grid-template-rows: auto repeat(4, 1fr); /*mettre 4 pour le restau 2*/
  gap: 1rem;
  grid-auto-flow: column; /*Orientation colonne*/
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 1000px) {
  #page-restaurant #restaurant-2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row; /*Orientation ligne*/
  }
}
#page-restaurant #restaurant-2 .menus__category {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  animation: appear 1.5s;
  animation-fill-mode: both;
}
#page-restaurant #restaurant-2 .menus__category:nth-child(2) {
  animation-delay: 200ms;
}
#page-restaurant #restaurant-2 .menus__category:nth-child(3) {
  animation-delay: 300ms;
}
#page-restaurant #restaurant-2 .menus__category:nth-child(4) {
  animation-delay: 400ms;
}
#page-restaurant #restaurant-2 .menus__category:nth-child(5) {
  animation-delay: 500ms;
}
#page-restaurant #restaurant-2 .menus__category:nth-child(6) {
  animation-delay: 600ms;
}
#page-restaurant #restaurant-2 .menus__category:nth-child(7) {
  animation-delay: 700ms;
}
#page-restaurant #restaurant-2 .menus__category:nth-child(8) {
  animation-delay: 800ms;
}
#page-restaurant #restaurant-2 .menus__category:nth-child(9) {
  animation-delay: 900ms;
}
#page-restaurant #restaurant-2 .menus__category:nth-child(10) {
  animation-delay: 1000ms;
}
#page-restaurant #restaurant-2 .menus__category:nth-child(11) {
  animation-delay: 1100ms;
}
#page-restaurant #restaurant-2 .menus__category:nth-child(12) {
  animation-delay: 1200ms;
}
#page-restaurant #restaurant-2 .menus__category:nth-child(13) {
  animation-delay: 1300ms;
}
#page-restaurant #restaurant-2 .menus__category:nth-child(14) {
  animation-delay: 1400ms;
}
#page-restaurant .order button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white; /*Pour que le texte soit blanc*/
  font-weight: 200; /*Pour que le texte soit en gras*/
  font-size: 1rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 2rem; /*Bords arrondis*/
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569); /*Ombres*/
  background-image: linear-gradient(#ff79da, #9356dc); /*Les gradient permettent de passer d'une couleur a une autre*/
  transition: all 200ms; /*Durer de la transition pour le zoom de l'element sur le hover*/
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  cursor: pointer;
}
#page-restaurant .order button:hover { /*Curseur sur element*/
  transform: scale(1.02); /*La transition sur le hover*/
  opacity: 0.9; /*Pour diminuer l'opacite*/
}

/*ANIMATION*/
@keyframes check-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%); /*permet de déplacer un élement verticalement sur le plan.*/
    opacity: 0;
  }
  100% {
    transform: translateY(1%);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
