@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"); /*Importation de la font*/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    box-sizing: border-box; /*Pour dire de mettre les bordures a l'interieur de l'element. Ca permet que la marge soit a l'interieur des dimensions de l'element. Valable aussi pour les pseudos elements.*/
}

body {
    margin: 0px; /*Pour que la bordure top soit collee au top de la page*/
    font-family: "Roboto", sans-serif; /*La font pour tout le site*/
}

a {
    text-decoration: none; /*Pour enlever la mise en page par defaut*/
    color: inherit; /*Pour avoir tous les textes en noir*/
}

h3,
h4, 
p {
    margin: 0;
}

