.city {
    color: #3e3e3e;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
    background-color: #eaeaea;
    text-align: center;
    padding: 1.2rem;
    font-size: 0.5cm; 
    font-weight: 600;
}