/*EXPLORER*/
.explorer {
    text-align: center; /*Pour centrer le texte*/
    background-color: #f6f6f6;
    padding-top: 2.2rem;
    padding-bottom: 3.5rem;

    & h2 {
    margin: 0;
    font-size: 1.7rem; /*Taille de la font*/
    }

    & p {
    font-size: 1.2rem;
    }

    & button {
    color: white; /*Pour que le texte soit blanc*/
    font-weight: 200; /*Pour que le texte soit en gras*/
    font-size: 1.1rem;
    padding: 1rem 1.4rem;
    border: none;
    border-radius: 2rem; /*Bords arrondis*/
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569); /*Ombres*/
    background-image: linear-gradient(#ff79da, #9356dc); /*Les gradient permettent de passer d'une couleur a une autre*/
    transition: all 200ms; /*Durer de la transition pour le zoom de l'element sur le hover*/
    margin-top: 1rem;
    cursor: pointer;
    &:hover { /*Curseur sur element*/
        transform: scale(1.02); /*La transition sur le hover*/
        opacity: 0.9; /*Pour diminuer l'opacite*/
    }
    }
}