/*EXPLORER*/
.explorer {
    text-align: center; /*Pour centrer le texte*/
    background-color: #f6f6f6;
    padding-top: 2.2rem;
    padding-bottom: 3.5rem;

    & h2 {
    margin: 0;
    font-size: 1.7rem; /*Taille de la font*/
    }

    & p {
    font-size: 1.2rem;
    }

    & button {
    color: white; /*Pour que le texte soit blanc*/
    font-weight: 200; /*Pour que le texte soit en gras*/
    font-size: 1.1rem;
    padding: 1rem 1.4rem;
    border: none;
    border-radius: 2rem; /*Bords arrondis*/
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569); /*Ombres*/
    background-image: linear-gradient(#ff79da, #9356dc); /*Les gradient permettent de passer d'une couleur a une autre*/
    transition: all 200ms; /*Durer de la transition pour le zoom de l'element sur le hover*/
    margin-top: 1rem;
    cursor: pointer;
    &:hover { /*Curseur sur element*/
        transform: scale(1.02); /*La transition sur le hover*/
        opacity: 0.9; /*Pour diminuer l'opacite*/
    }
    }
}

.loader {
    position: fixed; /*Pour maintenir l'élément meme si on scroll*/
    display: grid;
    place-items: center; /*Pour placer le loading spinner au centre*/
    background-color: #ffffff;
    height: 100vh; /*Pour que ça prenne tout l'écran peut importe sa taille*/
    inset: 0; /*Position sur la page*/
    z-index: 2; /*Pour que l'élément soit "au dessus" sur l'axe z (3d)*/
    opacity: 0.9;
    animation: disappear 200ms; /*On appelle l'animation*/
    animation-delay: 2s; /*Délais de l'animation*/
    animation-fill-mode: forwards; /*Pour dire à l'élément soit de se mettre en place avant l'animation, soit de garder sa place une fois l'animation terminée. forward permet à l'animation de se "terminé"*/
    transform-origin: top; /*Pour que l'animation disparaisse par le haut*/
    &::after {
        content: "";
        height: 80px;
        width: 80px;
        border: 5px solid transparent;
        border-top: 5px solid #9356dc;
        border-radius: 50%;
        animation: spinner 1s ease-in-out; /*Pour qu'il tourne 3s avec une vitesse constante*/
        animation-iteration-count: 2;
    }
}

/*On veut que notre loader disparaisse au bout de x secondes, on va faire ça avec une animation*/

@keyframes disappear {
    0% {
        transform: scale(1); /*Il commence par 1 car il apparait en premier et il finit à 0 pour la disparition*/
    }
    100% {
        transform: scale(0);
    }
}

/*On aurait pu utiliser un spinner tout fait sur fontawesome mais on va essayer de le faire nous memes*/

@keyframes spinner {
    0% {
        transform: rotate(0deg); /*Il commence sa rotation à 0 pour faire un tour complet à 360 degré à la fin de l'animation*/
    }
    100% {
        transform: rotate(360deg);
    }
}