.fonctionnement {
    padding: 0 1rem;
    padding-top: 1.8rem;
    padding-bottom: 3.5rem;
    counter-reset: steps;
    & h2 {
        font-size: 1.7rem;
    }
    & ol {
        font-weight: bold;
        display: flex;
        gap: 2rem;
        padding-left: 22px;
        @media (max-width: 992px) {
            flex-direction: column; /*permet de spécifier le type d'ordonnancement en colonne*/
        }
    }
    & li {
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all 200ms; /*Durer de la transition pour le zoom de l'element sur le hover*/
        &::before {
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: #9356dc;
            width: 2rem; /*largeur*/
            height: 2rem; /*hauteur*/
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            bottom: 22px;
            left: -1rem;
        }
        list-style-type: none; /*Ca va nous servir a enlever nos numeros predefinis par le type de liste li pour qu'on puisse modifier les notres comme on veut*/
        background-color:#f6f6f6;
        padding: 1.7rem 2.5rem;
        flex-grow: 1;
        border-radius: 1rem;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569);
        margin-right: 0.7rem;
        &:hover {
            transform: scale(1.02); /*La transition sur le hover*/
            background: rgba($color: #9356dc, $alpha: 0.1); /*Grace au background rgba je peux modifier l'opacite de la couleur*/
            & i {
                color:#9356dc ;
            }
        }
        & i {
            color: #8f8f8f;
            margin-right: 1rem;
            font-size: 1.4rem;
        }
    }
}

