.restaurants {
    background-color: #f6f6f6;
    padding: 0 1rem;
    padding-top: 1.8rem;
    & h2 {
        font-size: 1.7rem;
    }

    .restaurants__cards {
        display: grid;
        grid-template-columns: repeat(2, 4fr);
        gap: 2rem;
        @media (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .card {
        &__image {
            height: 15rem;
            border-radius: 1rem;
            background-size: cover;
        }
        &__image-1 {
            background-image: url("../images/restaurants/menu-1.jpg");
        }
        &__image-2 {
            background-image: url("../images/restaurants/menu-2.jpg");
        }
        &__image-3 {
            background-image: url("../images/restaurants/menu-3.jpg");
        }
        &__image-4 {
            background-image: url("../images/restaurants/menu-4.jpg");
        }
    }
}

