.restaurants {
    background-color: #f6f6f6;
    padding: 0 1rem;
    padding-top: 1.8rem;
    padding-bottom: 2rem;
    & h2 {
        font-size: 1.7rem;
    }

    .restaurants__cards {
        display: grid;
        grid-template-columns: repeat(2, 4fr);
        gap: 2rem;
        @media (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
        }
        .nouveau { /*On veut que le nouveau soit juste une class qu'on rajoute aux elements qui sont nouveaux et des que je leur met une class nouveau ca leur fait apparaitre le badge*/
            position: relative;
        }
        .nouveau::before {
            content: "Nouveau"; /*Quand on utilise un pseudo element il faut toujours un content meme vide*/
            position: absolute; /*Quand on met une position absolute il faut que le parent soit en position relative. Sinon il va aller rechercher le premier element en position relative et ca va pas faire ce qu'on veut*/
            height: 2rem;
            width: 5rem;
            background-color: #9ee2d0;
            color: darken($color: #9ee2d0, $amount: 50%); /*La propriete darken permet d'assombrir une couleur. le second parametre correspond au niveau d'assombrissement*/
            display: grid; /*text-align: center; ne centrait pas verticalement*/
            place-items: center;
            right: 1rem;
            top: 1rem; /*Pour placer l'element a 1rem du top et 1rem de la droite*/
        }
    }

    .card {
        &__image {
            height: 12rem;
            border-radius: 1rem 1rem 0 0;
            background-size: cover;
            background-position: center; /*Pour que les images soient toujours positionner au centre*/
        }
        &__image-1 {
            background-image: url("../images/restaurants/menu-1.jpg");
        }
        &__image-2 {
            background-image: url("../images/restaurants/menu-2.jpg");
        }
        &__image-3 {
            background-image: url("../images/restaurants/menu-3.jpg");
        }
        &__image-4 {
            background-image: url("../images/restaurants/menu-4.jpg");
        }
        &__description {
            height: 5rem;
            position: relative;
            background-color: white;
            border-radius: 0 0 1rem 1rem;
            h3,
            p {
                padding-top: 0.7rem;
                padding-left: 1rem;
            }
            i {
                font-size: 1.6rem;
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
            }
            .fa-solid {
                color: transparent;
                background-image: linear-gradient(#ff79da, #9356dc);
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 200ms ease-in-out;
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                    transform: translateY(-50%) scale(1.1);
                }
            }
        }
    }
}

