@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"); /*Importation de la font*/
* {
  box-sizing: border-box; /*Pour dire de mettre les bordures a l'interieur de l'element. Ca permet que la marge soit a l'interieur des dimensions de l'element. Valable aussi pour les pseudos elements.*/
}

body {
  margin: 0px; /*Pour que la bordure top soit collee au top de la page*/
  font-family: "Roboto", sans-serif; /*La font pour tout le site*/
}

a {
  text-decoration: none; /*Pour enlever la mise en page par defaut*/
  color: inherit; /*Pour avoir tous les textes en noir*/
}

header {
  text-align: center;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  padding: 0.1rem;
  margin: 0;
  position: relative; /*On ne voyait plus la box shadow du au fait que tous les elements ont une position static par defaut, avec la position relative, l'element passe "au dessus" de tous les autres.*/
  -webkit-padding-before: 1rem;
  padding-block-start: 1rem;
  -webkit-padding-after: 0.5rem;
  padding-block-end: 0.5rem;
}

#logo {
  height: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.city {
  color: #3e3e3e;
  display: flex; /*display flex permet de modifier la taille comme on veut sans avoir des problemes d'empilements d'elements sans aucune incidence sur la boite*/
  align-items: center; /*align items center permet a ce que tous les elements soient a la meme hauteur*/
  justify-content: center; /*Les éléments sont regroupés au centre du conteneur selon l'axe principal.*/
  gap: 1rem;
  background-color: #eaeaea;
  text-align: center; /*Pour centrer le texte*/
  padding: 1.2rem;
  font-size: 0.5cm;
  font-weight: 600;
}

.city input {
  border: 1px solid #F2F2F2;
  overflow: auto; /*overflow sert a faire en sorte que l'input ne soit pas couper par sa boite*/
}

.city input::placeholder {
  font-size: 0.5cm;
  color: #3e3e3e;
  font-weight: bold;
}

/*EXPLORER*/
.explorer {
  text-align: center; /*Pour centrer le texte*/
  background-color: #f6f6f6;
  padding-top: 2.2rem;
  padding-bottom: 3.5rem;
}
.explorer h2 {
  margin: 0;
  font-size: 1.7rem; /*Taille de la font*/
}
.explorer p {
  font-size: 1.2rem;
}
.explorer button {
  color: white; /*Pour que le texte soit blanc*/
  font-weight: 200; /*Pour que le texte soit en gras*/
  font-size: 1.1rem;
  padding: 1rem 1.4rem;
  border: none;
  border-radius: 2rem; /*Bords arrondis*/
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569); /*Ombres*/
  background-image: linear-gradient(#ff79da, #9356dc); /*Les gradient permettent de passer d'une couleur a une autre*/
  transition: all 200ms; /*Durer de la transition pour le zoom de l'element sur le hover*/
  margin-top: 1rem;
  cursor: pointer;
}
.explorer button:hover { /*Curseur sur element*/
  transform: scale(1.02); /*La transition sur le hover*/
  opacity: 0.9; /*Pour diminuer l'opacite*/
}

.fonctionnement {
  padding: 0 1rem;
  padding-top: 1.8rem;
  padding-bottom: 3.5rem;
  counter-reset: steps;
}
.fonctionnement h2 {
  font-size: 1.7rem;
}
.fonctionnement ol {
  font-weight: bold;
  display: flex;
  gap: 2rem;
  padding-left: 22px;
}
@media (max-width: 992px) {
  .fonctionnement ol {
    flex-direction: column; /*permet de spécifier le type d'ordonnancement en colonne*/
  }
}
.fonctionnement li {
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 200ms; /*Durer de la transition pour le zoom de l'element sur le hover*/
  list-style-type: none; /*Ca va nous servir a enlever nos numeros predefinis par le type de liste li pour qu'on puisse modifier les notres comme on veut*/
  background-color: #f6f6f6;
  padding: 1.7rem 2.5rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569);
  margin-right: 0.7rem;
}
.fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem; /*largeur*/
  height: 2rem; /*hauteur*/
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 22px;
  left: -1rem;
}
.fonctionnement li:hover {
  transform: scale(1.02); /*La transition sur le hover*/
  background: rgba(147, 86, 220, 0.1); /*Grace au background rgba je peux modifier l'opacite de la couleur*/
}
.fonctionnement li:hover i {
  color: #9356dc;
}
.fonctionnement li i {
  color: #8f8f8f;
  margin-right: 1rem;
  font-size: 1.4rem;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 0 1rem;
  padding-top: 1.8rem;
}
.restaurants h2 {
  font-size: 1.7rem;
}
.restaurants .restaurants__cards {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  gap: 2rem;
}
@media (max-width: 800px) {
  .restaurants .restaurants__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.restaurants .card__image {
  height: 15rem;
  border-radius: 1rem;
  background-size: cover;
}
.restaurants .card__image-1 {
  background-image: url("../images/restaurants/menu-1.jpg");
}
.restaurants .card__image-2 {
  background-image: url("../images/restaurants/menu-2.jpg");
}
.restaurants .card__image-3 {
  background-image: url("../images/restaurants/menu-3.jpg");
}
.restaurants .card__image-4 {
  background-image: url("../images/restaurants/menu-4.jpg");
}

/*# sourceMappingURL=style.css.map */
